* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
   
}
.main_img{
    position: absolute;
    top: 40%;
    left: 55%;
}
 .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.7rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}
.logo {
    font-size: 2.3em;
    color: #FF6F6F;
    font-weight: 600;
}

.navbar a {
    font-size: 1.2rem;
    font-weight: 500;
    color:#FF6F6F;
    margin-left: 3.5rem;
    transition: .3s;
    background-color: transparent;
}

.navbar a:hover
 {
    color: #11F69E;
}
.navbar a.active{
    color: #FF6F6F;
}
.navbar a.active:hover{
    color: #11F69E;
}
#menu-icon {
    font-size: 3.6rem;
    color: #FF6F6F;
    cursor: pointer;
    display: none;
}

.section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
    
}
.header.sticky {
    background: var(--bg-color);
}
.home {
     padding: 14% 9%;
    margin-top: 4%;
    background: url(./images/Untitled\ design.png) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.home-content h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
    width: 50rem;
}
.home p {
    font-size: 3ch;
    font-weight: 400;
    margin: 0.5rem 35rem 1rem 0rem;
    
}
.button{
    background-color: #FF6F6F;
    color: white;
    width: 20ch;
    height: 5ch;
    font-size: larger;
    border: 0.2ch solid #FF6F6F;
    border-radius: 50px;
}
    